# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# Usage: configure_cloud_init_common.yml, configure_cloud_init_group.yml
ci_defaults_template: "{{ role_path }}/templates/cloud_init/ci-defaults.yaml.j2"
ci_defaults_dest: "{{ cloud_init_dir }}/ci-defaults.yaml"
ci_group_common_template: "{{ role_path }}/templates/cloud_init/ci-group-common.yaml.j2"
ci_group_common_dest: "{{ cloud_init_dir }}/ci-group-common.yaml"
openchami_config_vars_path: "{{ openchami_share_path }}/configs_vars.yaml"
default_file_path: "{{ playbook_dir }}/roles/slurm_config/defaults/main.yml"
ci_group_load_fail_msg: "Failed to load ci group template"

# Usage: ci-group-login_node_x86_64.yaml.j2
tls_cert_path: "/etc/openldap/certs/ldapserver.crt"
ldap_conf_dest: "/etc/openldap/ldap.conf"
sasl_nocanon_regxp: "SASL_NOCANON\ton"
sasl_nacanon_replace1: "SASL_NOCANON\ton\nBASE\t{{ hostvars['localhost']['ldap_search_base'] }}"
sasl_nacanon_replace2: "SASL_NOCANON\ton\nURI\tldap://{{ hostvars['localhost']['ldap_server_ip'] }}"
sasl_nacanon_replace3: "SASL_NOCANON\ton\nTLS_CACERT\t{{ tls_cert_path }}"
sasl_nacanon_replace4: "SASL_NOCANON\ton\nURI\tldap://{{ hostvars['localhost']['ldap_server_ip'] }}:636"
file_mode: "0644"
ldap_starttls_port: 389
ldap_ssl_port: 636

# Usage: ci-group-slurm_control_node_x86_64.yaml.j2
slurm_group_name: slurm
home_dir: /var/lib/slurm
user: slurm
munge_user: munge
munge_group: munge
mysql_user: mysql
mysql_group: mysql
file_mode_400: "0400"
file_mode_755: "0755"
file_mode_600: "0600"
ip_timeout: 10
ip_wait_loop: 60

# Usage: discovery_completion.yml
discovery_completion_msg: |
  The discovery.yml playbook has completed successfully.
  Next, you can either manually PXE boot the nodes or use the utils/set_pxe_boot.yml playbook
  by specifying a bmc group in your inventory to initiate the PXE boot process.
  Once the nodes have booted, proceed to run telemetry/telemetry.yml to start collecting telemetry data.

# Cloud-init specific variables
# Includes cloud-init defaults and per-group configuration paths
